In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
%ls

'Copy of telco_customer_churn.csv'   sample_data/

In [ ]:
df = pd.read_csv('/content/Copy of telco_customer_churn.csv')

In [ ]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
df = df.rename(columns={'customerID':'CustID'})
df.columns

Index(['CustID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.columns

Index(['custid', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [ ]:
df['paymentmethod']

0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
                  ...
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: paymentmethod, Length: 7043, dtype: object

In [ ]:
df['paymentmethod'] = df['paymentmethod'].str.replace('automatic','')
df['paymentmethod']

0       Electronic check
1           Mailed check
2           Mailed check
3       Bank transfer ()
4       Electronic check
              ...
7038        Mailed check
7039      Credit card ()
7040    Electronic check
7041        Mailed check
7042    Bank transfer ()
Name: paymentmethod, Length: 7043, dtype: object

In [ ]:
df['paymentmethod'] = df['paymentmethod'].str.replace('()','', regex = False)
df['paymentmethod']

0       Electronic check
1           Mailed check
2           Mailed check
3         Bank transfer
4       Electronic check
              ...
7038        Mailed check
7039        Credit card
7040    Electronic check
7041        Mailed check
7042      Bank transfer
Name: paymentmethod, Length: 7043, dtype: object

In [ ]:
df['paymentmethod'] = df['paymentmethod'].str.strip()
df['paymentmethod']

0       Electronic check
1           Mailed check
2           Mailed check
3          Bank transfer
4       Electronic check
              ...
7038        Mailed check
7039         Credit card
7040    Electronic check
7041        Mailed check
7042       Bank transfer
Name: paymentmethod, Length: 7043, dtype: object

In [ ]:
df.head()

,custid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer,42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
#one hor encoding

ohe = pd.get_dummies(df['phoneservice'],prefix = 'service')
ohe

      service_No  service_Yes
0              1            0
1              0            1
2              0            1
3              1            0
4              0            1
...          ...          ...
7038           0            1
7039           0            1
7040           1            0
7041           0            1
7042           0            1

[7043 rows x 2 columns]

In [ ]:
df = df.join(ohe)
df

,custid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,service_No,service_Yes
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,1,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,No,0,1
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer,42.30,1840.75,No,1,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,0,1
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Credit card,103.20,7362.9,No,0,1
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,1,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,0,1
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Two year,Yes,Bank transfer,105.65,6844.5,No,0,1

In [ ]:
#normalization
df['monthlycharges_norm'] = MinMaxScaler().fit_transform(df['monthlycharges'].values.reshape(len(df),1))
df.head()

,custid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,service_No,service_Yes,monthlycharges_norm
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,1,0,0.115423
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,One year,No,Mailed check,56.95,1889.5,No,0,1,0.385075
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0,1,0.354229
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,One year,No,Bank transfer,42.30,1840.75,No,1,0,0.239303
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0,1,0.521891

In [ ]:
#standardization (sebelumnya ada problem)
df['totalcharges_standard'] = StandardScaler().fit_transform(df['totalcharges'].values.reshape(len(df),1))
df.head()

,custid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,service_No,service_Yes,monthlycharges_norm,totalcharges_standard
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,1,0,0.115423,-0.994194
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,One year,No,Mailed check,56.95,1889.50,No,0,1,0.385075,-0.173740
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0,1,0.354229,-0.959649
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,One year,No,Bank transfer,42.30,1840.75,No,1,0,0.239303,-0.195248
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0,1,0.521891,-0.940457

In [ ]:

#cek data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               7043 non-null   object
 1   gender               7043 non-null   object
 2   seniorcitizen        7043 non-null   int64
 3   partner              7043 non-null   object
 4   dependents           7043 non-null   object
 5   tenure               7043 non-null   int64
 6   phoneservice         7043 non-null   object
 7   multiplelines        7043 non-null   object
 8   internetservice      7043 non-null   object
 9   onlinesecurity       7043 non-null   object
 10  onlinebackup         7043 non-null   object
 11  deviceprotection     7043 non-null   object
 12  techsupport          7043 non-null   object
 13  streamingtv          7043 non-null   object
 14  streamingmovies      7043 non-null   object
 15  contract             7043 non-null   object
 16  paperlessbilling     7043 non-null   object
 17  paymentmethod        7043 non-null   object
 18  monthlycharges       7043 non-null   float64
 19  totalcharges         7043 non-null   object
 20  churn                7043 non-null   object
 21  service_No           7043 non-null   uint8
 22  service_Yes          7043 non-null   uint8
 23  monthlycharges_norm  7043 non-null   float64
dtypes: float64(2), int64(2), object(18), uint8(2)
memory usage: 1.2+ MB

In [ ]:
#cek kolom 'totalcharges' yang kosong ('')
df[df['totalcharges'] == ' ']

,custid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,service_No,service_Yes,monthlycharges_norm
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,No,Two year,Yes,Bank transfer,52.55,,No,1,0,0.341294
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,Two year,No,Mailed check,20.25,,No,0,1,0.019900
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,Two year,No,Mailed check,80.85,,No,0,1,0.622886
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,Two year,No,Mailed check,25.75,,No,0,1,0.074627
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,No,Two year,No,Credit card,56.05,,No,1,0,0.376119
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,Two year,No,Mailed check,19.85,,No,0,1,0.015920
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,Two year,No,Mailed check,25.35,,No,0,1,0.070647
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,Two year,No,Mailed check,20.00,,No,0,1,0.017413
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,One year,Yes,Mailed check,19.70,,No,0,1,0.014428
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,No,Two year,No,Mailed check,73.35,,No,0,1,0.548259
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Two year,Yes,Bank transfer,61.90,,No,0,1,0.434328

In [ ]:
df = df[~(df['totalcharges'] == ' ')]
df['totalcharges'] = df['totalcharges'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               7032 non-null   object
 1   gender               7032 non-null   object
 2   seniorcitizen        7032 non-null   int64
 3   partner              7032 non-null   object
 4   dependents           7032 non-null   object
 5   tenure               7032 non-null   int64
 6   phoneservice         7032 non-null   object
 7   multiplelines        7032 non-null   object
 8   internetservice      7032 non-null   object
 9   onlinesecurity       7032 non-null   object
 10  onlinebackup         7032 non-null   object
 11  deviceprotection     7032 non-null   object
 12  techsupport          7032 non-null   object
 13  streamingtv          7032 non-null   object
 14  streamingmovies      7032 non-null   object
 15  contract             7032 non-null   object
 16  paperlessbilling     7032 non-null   object
 17  paymentmethod        7032 non-null   object
 18  monthlycharges       7032 non-null   float64
 19  totalcharges         7032 non-null   float64
 20  churn                7032 non-null   object
 21  service_No           7032 non-null   uint8
 22  service_Yes          7032 non-null   uint8
 23  monthlycharges_norm  7032 non-null   float64
dtypes: float64(3), int64(2), object(17), uint8(2)
memory usage: 1.2+ MB

In [ ]:
#standardization (sudah aman karena sudah mengubah type data menjadi numeric)
df['totalcharges_standard'] = StandardScaler().fit_transform(df['totalcharges'].values.reshape(len(df),1))
df.head()

,custid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,service_No,service_Yes,monthlycharges_norm,totalcharges_standard
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,1,0,0.115423,-0.994194
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,One year,No,Mailed check,56.95,1889.50,No,0,1,0.385075,-0.173740
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0,1,0.354229,-0.959649
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,One year,No,Bank transfer,42.30,1840.75,No,1,0,0.239303,-0.195248
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0,1,0.521891,-0.940457

In [ ]:
df['totalcharges_standard'].describe()

count    7.032000e+03
mean    -1.172113e-16
std      1.000071e+00
min     -9.990692e-01
25%     -8.302488e-01
50%     -3.908151e-01
75%      6.668271e-01
max      2.824261e+00
Name: totalcharges_standard, dtype: float64